@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">

            <AuthorizeView>
                    
                <Authorized>

                    <div class="sub-nav">
                        <a class="sub-nav-item active" href="envanterlist">Envanter</a>
                        <a class="sub-nav-item " href="productlist">Products</a>
                    </div>
                    <NavLink class="px-4 text-secondary">Me</NavLink>
                    <NavLink class="px-4 text-secondary" href="logout">logout</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="px-4 text-secondary" href="login">Login</NavLink>
                    <NavLink class="px-5 text-secondary" href="register">Register</NavLink>
                </NotAuthorized>
            

            </AuthorizeView>

        </div>
        <AuthorizeView>
            <Authorized>
                <SidebarComponent />
            </Authorized>
        </AuthorizeView>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
            </div>

        </div>

       
    </main>
</div>
