@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row">
            
           <NavLink class="px-4 text-secondary" href="login">Login</NavLink>
            <NavLink class="px-5 text-secondary" href="register">Register</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
